<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - memorunder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-color-green sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-controller="Diary" asp-action="Index">メモルンダー</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" asp-controller="Diary" asp-action="Index">Top</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Memo" asp-action="Index">メモ一覧</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-body">
        <div class="side-menu-bar container-fluid">
            <div class="d-month-list">
                <div class="d-month-item">
                    <p>X月</p>
                </div>
                <div class="d-month-item">
                    <p>X月</p>
                </div>
            </div>
            <div class="goal-box">
                <div class="goal-title">
                    <p>X月の予定</p>
                </div>
                <div class="goal-list">
                    <p class="goal-one">1. XXXX</p>
                    <p class="goal-two">2. XXXX</p>
                    <p class="goal-three">3. XXXX</p>
                </div>
                <div class="goal-form">
                    <form method="post">
                        <input type="text" id="goal-input" name="goal-input" placeholder="今月の目標を入力してください">
                        <button class="btn-success" type="submit">送信</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container-main">
                @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
