@using memorunder.Models

@{
    //View内の処理を記述
    Diary calendar = new Diary();

    string[] weeks = calendar.CreateCalendar();

}

@section Styles {
    <link rel="stylesheet" href="~/css/Diary/style.css" />
}

<div class="diary-top">
    <div class="pagenation">
        <div class="pagenatiojn-item pagenation-left">
            <p>X-1月</p>
        </div>
        <div class="pagenatiojn-item pagenation-center">
            <p>X月</p>
        </div>
        <div class="pagenatiojn-item pagenation-right">
            <p>X+1月</p>
        </div>
    </div>
    <div class="calendar">
        <table class="table table-bordered">
            <tr>
                <th>日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
            </tr>
            @foreach(string weekItem in weeks)
      {
        <tr>@Html.Raw(weekItem)</tr>
      }
        </table>
    </div>

    @Html.ActionLink("追加ボタン", "Create")
</div>